#hideshow {
  display: block;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99999;
}

.boton-chat {
  background-color: none;
  border: none;
  padding: 10px 0;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.boton-chat::before {
  font-family: "FontAwesome";
  content: "\f086";
  font-size: 22px;
  color: white;
  background-color: #d00;
  border: none;
  padding: 12px 12px;
  border-radius: 50px;
  outline: none;
}

.boton-chat:hover::before {
  background-color: #e22;
  box-shadow: 2px 3px 5px #aaa;
}

.cerrar-boton-chat::before {
  font-family: "FontAwesome";
  content: "\f00d";
  font-size: 22px;
  color: white;
  background-color: #445;
  border: none;
  padding: 12px 15px;
  border-radius: 50px;
  outline: none;
}

.cerrar-boton-chat:hover::before {
  background-color: #556;
  box-shadow: 2px 3px 5px #aaa;
}
